/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 10px;
  background-color: #fff;
  position: relative; /*for cart */
  color: #000;
}

#header-cart .logo {
  font-size: 4vw; /*scale to UI size*/
  min-width: 120px;
  max-width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

#header-cart .back {
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
}

#header-1 .logo {
  cursor: pointer;
  font-size: 4vw; /*scale to UI size*/
  min-width: 120px;
  max-width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

#header-1 .cart {
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  right: 20px;
}

#header-2 {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
}

#header-2 .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

#header-2 .navigation button {
  flex-grow: 1; /* same width */
  margin: 0 10px;
  padding: 16px 20px;
  font-size: 1.5rem;
  text-align: center;
  background-color: transparent;
  border: 0px #000;
  color: #000;
  cursor: pointer;
}

#header-2 .navigation button:hover {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

#header-2 .navigation button.selected {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.menu-grid button {
  background-color: #e0e0e0;
  border: none;
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-grid button:hover {
  background-color: #d4d4d4;
}

.floating-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  position: relative;
}

.cart-item .item-name {
  flex-grow: 1;
  text-align: left;
}

.cart-item .item-price {
  text-align: right;
  min-width: 80px;
  margin-right: 50px;
}

.cart-item span {
  margin: 10px 12px;
}


.cart-item button {
  padding: 2px; !important
  font-size: 1rem;
  width: 24px;
  height: 24px;
  background-color: #000; !important;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #333;
}

.cart-items {
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.floating-cart .cart-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.floating-cart button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.delete-btn, .add-cart-btn, .go-to-purchase-btn {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 20px 20px;
}

.floating-cart button:hover {
  background-color: #333;
}

/* 가격 표시 */
#totalPrice {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}
